
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/ExistingPlasticRepo.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/Faq.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/Glossary.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/index.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/MigrateCollab.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/MigrateCollabHistory.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/NewPlasticRepo.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/OverviewOfFeatures.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/PlasticForGitUsers.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/QuickStartGuide.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/StartPlasticForUnity.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/StartWithCollab.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/SwitchCollabAndPlastic.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Documentation~/TableOfContents.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Icons/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/AlertBox.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/BaseChangeListElement.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/ChangesGroupHeader.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/ChangesTabPageView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/ErrorPageView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/HistoryEntryComponent.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/HistoryTabPageView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/ListNotice.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/main-window.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/MainPageView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/Paginator.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/ProgressView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/StartPageView.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Layouts/TopBar.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/StringAssets.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/AlertBox.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/BaseChangeListElement.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/BetterTextField.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/ChangesGroupHeader.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/ChangesTabPageView.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/FloatingDialogue.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/FloatingMenu.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/FloatingMenuItem.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/HistoryEntryComponent.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/IconButton.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/IconTextButton.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/ListNotice.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/MainPageView.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/Paginator.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/ProgressView.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/SearchBar.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/StartPageView.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/styles.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/TabView.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/TextButton.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/ToggleableChangeListElement.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/Styles/TopBar.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Assets/UiConstants.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/ArrayContainer.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/LocationAttribute.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/ScriptableObjectSingleton.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/SerializableDictionary.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Common/StringArrayContainer.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/AdapterListView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/AlertBox.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/BetterTextField.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeEntryGroup.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeListElements/BaseChangeListElement.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeListElements/ChangeListElement.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeListElements/ConflictedChangeListElement.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeListElements/HistoryChangeListElement.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangeListElements/ToggleableChangeListElement.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ChangesGroupHeader.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ErrorPageView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/HistoryEntryComponent.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/IconButton.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/IconTextButton.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ListNotice.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/Menus/FloatingDialogue.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/Menus/FloatingMenu.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/Menus/FloatingMenuItem.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/PageComponent.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/Paginator.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/ProgressView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/SearchBar.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/TabPageComponent.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/TabView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/TextButton.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Components/TopBar.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/Analytics/EditorGameServiceAnalyticsSender.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/CloudCollabEnabler.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/CloudCollabService.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/CloudCollabServiceIdentifier.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/CloudCollabSettingsProvider.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/CloudCollabTopMenu.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/CloudCollabVisuals.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/DisabledVisuals.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/EnabledVisuals.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/IVisuals.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/LearnMoreVisualHelper.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/USS/ServicesProjectSettingsCommon.uss
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/UXML/CollabProjectSettingsDisabled.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/EditorGameService/SettingsProviderVisuals/UXML/CollabProjectSettingsEnabled.uxml
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Api/ISourceControlProvider.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/ChangesModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Enums/ProjectStatus.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/HistoryModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/IChangesModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/IHistoryModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/IMainModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/IModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/IStartModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/MainModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Providers/Collab.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/StartModel.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/ChangeEntry.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/ErrorInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/HistoryEntry.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/IChangeEntry.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/IChangeEntryData.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/IErrorInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/IHistoryEntry.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/IProgressInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Models/Structures/ProgressInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/ChangesPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/HistoryPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/IChangesPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/IHistoryPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/IMainPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/IPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/IStartPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/MainPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Presenters/StartPresenter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Properties/AssemblyInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Settings/CollabSetting.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Settings/CollabSettings.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Settings/CollabSettingsManager.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Settings/CollabSettingsProvider.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Settings/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Unity.CollabProxy.Editor.asmdef
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/UserInterface/Bootstrap.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/UserInterface/CollaborateWindow.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/UserInterface/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/UserInterface/ToolbarButton.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/UserInterface/WindowCache.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/ExtensionMethods.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/MenuUtilities.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/OpenLinksUtility.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/StringUtility.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/Threading.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Utilities/TimeStamp.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/IAdapter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/IAdapterObserver.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/ListAdapters/BaseListAdapter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/ListAdapters/ConflictedChangeListAdapter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/ListAdapters/HistoryEntryChangeListAdapter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/Adapters/ListAdapters/ToggleableChangeListAdapter.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/ChangesTabPageView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/HistoryTabPageView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/IChangesView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/IHistoryView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/IMainView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/IStartView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/IView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/MainPageView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/README.md
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/Collaborate/Views/StartPageView.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssemblyInfo.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetFilesFilterPatternsMenuBuilder.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetMenuItems.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetMenuOperations.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetMenuRoutingOperations.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetOperations.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/AssetsSelection.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/Dialogs/CheckinDialog.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/Dialogs/CheckinDialogOperations.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetMenu/ProjectViewAssetSelection.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/AssetStatus.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/AssetStatusCache.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/BuildPathDictionary.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/LocalStatusCache.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/LockStatusCache.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/RemoteStatusCache.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/Cache/SearchLocks.cs
Library/PackageCache/com.unity.collab-proxy@1.15.4/Editor/PlasticSCM/AssetOverlays/DrawAssetOverlay.cs
